body{
    background-image:
        url(../img/fondoWeb.jpg);

    display: grid ;
    grid-template-columns: auto;
    grid-template-rows: 1fr 0.5fr auto 0.9fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin: 2%;
    }
     

.fondoSeccion {

        background-image: 
            url(../img/FondoSection.jpg);
        
        padding: 40px;
        display: grid;
}

.imgIndex {
        
        align-self: center;
        justify-self: center;
}

@keyframes logoAnim {

    0% { opacity: 0;
    }
    100% { opacity: 100;
    }
}

header{
    animation-name: logoAnim;
    animation-iteration-count: initial;
    animation-duration: 5s;
}

.animacionImag {
    transition: all 5s;
}

.animacionImag:hover {

    transform: scale(1.5,1.5);

}

.menu {

    ul {
        padding: 0;
        list-style: none;
        display: flex;
            ul {
                display: none;
                position: absolute;
                    li {
                        width: 100%;
                    }
            }

            li:hover ul{
                display:block;
            }
    }

    li {
        flex-grow: 1;
         flex-shrink: 1;

    }

    a {
        display: block;
        text-align: center;
        text-decoration: none;
        color: white;
        font-family: 'Roboto Slab', serif;
        font-size: 400;
        background-color: rgba(0,0,0,0.4);
        padding: 10px;
    }

}

li:hover {

    background-color: black;

}

h2 {
    color: rgb(2,28,77);
    font-family: 'Hepta Slab', serif;
    font-size: 800;
    margin: 30px 10px 30px 10px;
}

p {

    color: black;
    font-family: 'Roboto Slab', serif;
    font-size:16px;

}

#Footer {
    background-color: rgba(255,255,255, 0.6);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2%;
    margin: 3% 0% 3% 0%;
  }

    @import "./secciones/productos";
    @import "./secciones/mantyqs";
    @import "./secciones/principal";


