table {

    margin: 50px 0px 50px 0px;
}

table td {

border: 2px solid black;
width: 250px;
background-color: rgba(0,0,0,0.4);
text-align: center;
color: white;
font-family: 'Roboto Slab', serif;
font-size: 300;
}